@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


/* FIX:
        CENTER THE NUMBERS
        theme colors
        
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}


.theme_1 {
    --body-bg-color: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);

    /* keys */
    --key-blue-bg: hsl(225, 21%, 49%);
    --key-blue-shadow: hsl(224, 28%, 35%);

    --key-equal: hsl(6, 63%, 50%);
    --key-equal-shadow: hsl(6, 70%, 34%);

    --key-gray: hsl(30, 25%, 89%);
    --key-gray-shadow: hsl(28, 16%, 65%);

    --dark-font-color: hsl(221, 14%, 31%);
    --light-font-color: hsl(0, 0%, 100%);

    /*hover*/
    --key-equal-hover: hsl(6, 78%, 64%);
    --key-blue-bg-hover: hsl(225, 70%, 79%);
    --bg-number-hover: hsl(0, 0%, 100%);
}

.theme_2 {
    --body-bg-color: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);

    /* keys */
    --key-blue-bg: hsl(185, 42%, 37%);
    --key-blue-shadow: hsl(185, 58%, 25%);

    --key-equal: hsl(25, 98%, 40%);
    --key-equal-shadow: hsl(25, 99%, 27%);

    --key-gray: hsl(45, 7%, 89%);
    --key-gray-shadow: hsl(35, 11%, 61%);

    --dark-font-color: hsl(60, 10%, 19%);
    --light-font-color: hsl(0, 0%, 100%);

    /*hover*/
    --key-equal-hover: hsl(6, 78%, 64%);
    --key-blue-bg-hover: hsl(225, 70%, 79%);
    --bg-number-hover: hsl(0, 0%, 100%);
}



.theme_3 {
    --body-bg-color: hsl(268, 75%, 9%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);

    /* keys */
    --key-blue-bg: hsl(281, 89%, 26%);
    --key-blue-shadow: hsl(285, 91%, 52%);

    --key-equal: hsl(176, 100%, 44%);
    --key-equal-shadow: hsl(177, 92%, 70%);

    --key-gray: hsl(268, 47%, 21%);
    --key-gray-shadow: hsl(290, 70%, 36%);

    --dark-font-color: hsl(52, 100%, 62%);
    --light-font-color: hsl(0, 0%, 100%);

    /*hover*/
    --key-equal-hover: hsl(177, 92%, 70%);
    --key-blue-bg-hover: hsl(290, 70%, 36%);
}

/* End Themes */

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    background-color: var(--body-bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}


.calculator {
    width: 490px;
    flex-direction: column;
    gap: 2em;
}

.calculator__top {
    width: 100%;
    color: var(--light-font-color);
    justify-content: space-between;
    align-items: last baseline;
}


.calculator__top_right {
    align-self: flex-end;
    align-self: right;
}

.calculator__top p {
    font-size: 11px;
    letter-spacing: .1ch;
    margin-left: 26em;
}

.calculator__top_right_toggle {
    flex-direction: column;
}

.toggle__numbers {
    margin-bottom: .2em;
}

.toggle__numbers p {
    font-size: 14px;
    margin-inline: 8px;
    cursor: pointer;
}

.toggle__wrapper {
    width: 100%;
    border-radius: 15px;
    background-color: var(--keypad-bg);
}

.toggle__btn {
    width: 15px;
    height: 15px;
    margin: 4px;

    background-color: var(--key-equal);
    border-radius: 50%;
    cursor: pointer;
    transition: .4s transform ease-in-out;
}

.toggle_one {
    transform: translateX(0%);
}

.toggle_two {
    transform: translateX(150%);
}

.toggle_three {
    transform: translateX(310%);
}

.toggle__btn:hover {
    background-color: var(--key-equal-hover);
}

.calculator__display {
    width: 100%;
    background: var(--screen-bg);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}


#display__numbers {
    padding: 40px 20px;
    font-size: 45px;
    color: var(--light-font-color);
}


.calculator__numbers {
    width: 100%;
    background: var(--keypad-bg);
    border-radius: 10px;
}

.calculator__numbers_inner {
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 1.5em;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    padding-top: 6px;
    cursor: pointer;
}

.number {
    background: var(--key-gray);
    box-shadow: 0px 3px var(--key-gray-shadow);
    color: var(--dark-font-color);
    font-size: 32px;
}

.number:hover{
    background-color: var(--bg-number-hover);
}

#mult {
    position: relative;
    color: transparent;
}

#mult::after {
    content: 'x';
    position: absolute;
    inset: 1;
    color: var(--dark-font-color);
}

#del__btn {
    color: var(--light-font-color);
    background: var(--key-blue-bg);
    box-shadow: 0px 3px var(--key-blue-shadow);
    font-weight: 400;
}

#reset__btn {
    grid-column: 1/3;
    color: var(--light-font-color);
    background: var(--key-blue-bg);
    box-shadow: 0px 3px var(--key-blue-shadow);
}

#reset__btn:hover,
#del__btn:hover {
    background-color: var(--key-blue-bg-hover);
}

#equal__btn {
    grid-column: 3/5;
    color: var(--light-font-color);
    background: var(--key-equal);
    box-shadow: 0px 3px var(--key-equal-shadow);
}

#equal__btn:hover {
    background-color: var(--key-equal-hover);
}


#del__btn,
#reset__btn,
#equal__btn{
    font-size: 22px;
}